# node_modules (npm)
node_modules/

#  vendor folder (Composer)
vendor/

# Các file log
*.log

# file tmp
*.tmp
*.temp

# file IDE/Editor
.idea/
.vscode/
nbproject/

# System file
.DS_Store
Thumbs.db

# file PHPStorm
/.idea/

# Composer
composer.lock

# Add exclude folder
# Example:
# public/uploads/
# application/cache/
# system/language/cache/

# Debug files
*.stackdump
